@model AssignmentGD1.Models.MonAn

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thông Tin Món</h1>

<div>
    <h4>Món: </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanLoai)
        </dd>
        <dt class = "col-sm-2">
            <img src ="~/images/monan/@Model.HinhAnh" style="width:250px"/>
            @*@Html.DisplayNameFor(model => model.HinhAnh)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MonAnId">Sửa</a> |
    <a asp-action="Index">Trở về danh sách</a>
</div>
